/* Basic css to get everything looking clean and pretty */

body {
    background-image: url(../images/20160101012133_IMG_5854.jpg);
    background-repeat: no-repeat;
    background-position: top, center;
}

#about, #portfolio {
    Color: rgb(114, 3, 3);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#bio {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#dilla {
    float: left;
    max-width: 40%;
    height: auto;
    padding: 15px; 
  
}
#portfolioimg {
    float: center;
    max-width: 85%;
    height: auto;
    padding: 15px;
}

.container {
    background-color: lightgrey;
    margin-top: 20px;
}

/* Used media queries to get a very responsive site so it still looks good on small medium and large screens
@media screen and (max-width: 768px) { */

    body {
        width: 100%;
    }
    
    .container {
      width: 90%;
      padding: 20px;
    }
  
    #about {
        font-size: 50px;
    }
  }

@media screen and (max-width: 320px) {

    body {
        width: 100%;
    }
  
    .container {
      width: 90%;
      padding: 20px;
    }
  
    #about {
        font-size: 50px;
  }

@media screen and (max-width: 168px) {

    body {
        width: 100%;
    }
    
    .container {
      width: 90%;
      padding: 20px;
    }
  
    #about {
        font-size: 50px;
    }
  }